@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark-blue: 15,27,92;
  --orange: 254,132,3;
  --background-color: 247,247,247;
}

html{
  width: 100vw;
}

body {
  width: 100vw;
  color: rgb(var(--dark-blue));
  background-color: rgb(var(--background-color));
}

.loader {
  overflow: visible;
  width: 100px;
  height: 150px;
  transform: rotate(90deg);
  padding-bottom: 10rem;
}

.loader g {
  animation: slide 2s linear infinite;
}

.loader g:nth-child(2) {
  animation-delay: 0.5s;
}

.loader g:nth-child(2) path {
  animation-delay: 0.5s;
  stroke-dasharray: 0px 158px;
  stroke-dashoffset: 1px;
}

.loader path {
  stroke: url(#gradient);
  stroke-width: 20px;
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 0 157px;
  stroke-dashoffset: 0;
  animation: escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

@keyframes slide {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes escalade {
  0% {
    stroke-dasharray: 0 157px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 157px 157px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 157px 157px;
    stroke-dashoffset: -156px;
  }
}

.arrow {
  animation: arrow 1s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}